@page "/MarketWithCompanyAndPrice/create"
@using IraoAssignment.Shared
@inject HttpClient http
@inject NavigationManager uriHelper

<h3>Create</h3>

<IraoAssignment.Client.Pages.MarketWithCompanyAndPrice.Form ButtonText="Add a M&C" MarketWithCompanyAndPrice="@marketWithCompanyAndPrice"
            OnValidSubmit="@CreateMarketWithCompanyAndPrice" />


@code {
    MarketWithCompanyAndPrice marketWithCompanyAndPrice = new MarketWithCompanyAndPrice();
    async Task CreateMarketWithCompanyAndPrice()
    {
        await http.PostAsJsonAsync("api/marketWithCompanyAndPrice", marketWithCompanyAndPrice);
        uriHelper.NavigateTo("marketWithCompanyAndPrice");
    }
}
