@page "/Market/create"
@using IraoAssignment.Shared
@inject HttpClient http
@inject NavigationManager uriHelper

<h3>Create</h3>

<IraoAssignment.Client.Pages.Market.Form ButtonText="Add a market" Market="@market"
      OnValidSubmit="@CreateMarket" />

@code {
    Market market = new Market();
    async Task CreateMarket()
    {
        await http.PostAsJsonAsync("api/market", market);
        uriHelper.NavigateTo("market");
    }
}
